<header class="feRPG-unitheader feRPG-row">
  <div class="feRPG-column feRPG-flexfill">
    <h1 class="feRPG-flexfill">
      {{formInput fields.name value=document.name localize=false}}
    </h1>
    <span class="feRPG-unitheader__classname">
      {{!-- #TODO: Derive class name and level from stats --}}
      <span>Class Name</span> Lv. <span>5</span>
    </span>
    <div class="feRPG-row feRPG-unitheader__statusbars">
      {{>feRPG:sheets/unit/xpbar }}
      {{>feRPG:sheets/unit/hpbar }}
    </div>
  </div>
  <div class="feRPG-column feRPG-unitheader__sidebar">

    {{>feRPG:components/labeled_stat
      label=(localize "FERPG.stats.move") 
      value=system.move.value 
      size="medium" flavor="light" 
    }}
    {{>feRPG:components/labeled_stat 
      label=(localize "FERPG.stats.constitution") 
      value=system.constitution.value 
      size="medium" flavor="light"
    }}
    {{>feRPG:components/labeled_stat
      label=(localize "FERPG.stats.sight") 
      value=system.sight.value 
      size="medium" flavor="light"
    }}
  </div>
</header>