<nav
  class="feRPG-sheetnav"
  data-group="primary-tabs"
  role="tablist"
  data-tooltip-direction="UP"
>
  <span class="feRPG-sheetnav-tab_name">TAB NAME</span>
  <a
    class="feRPG-button feRPG-tab_button--icon_overview"
    data-tab="overview"
    role="tab"
    data-tooltip="FERPG.sheet.unit.tab.overview"
  >
  </a>
  <a
    class="feRPG-button feRPG-tab_button--icon_advancement"
    data-tab="advancement"
    role="tab"
    data-tooltip="FERPG.sheet.unit.tab.advancement"
  >
  </a>
  <a
    class="feRPG-button feRPG-tab_button--icon_inventory"
    data-tab="inventory"
    role="tab"
    data-tooltip="FERPG.sheet.unit.tab.inventory"
  >
  </a>
  <a
    class="feRPG-button feRPG-tab_button--icon_notes"
    data-tab="notes"
    role="tab"
    data-tooltip="FERPG.sheet.unit.tab.notes"
  >
  </a>
</nav>