<form class="{{cssClass}} feRPG-document" autocomplete="off">
  {{>feRPG:sheets/unit/header}}
  {{>feRPG:sheets/unit/navbar}}
  <section class="feRPG-content feRPG-column">
    <p>(content)</p>
  </section>
  {{>feRPG:components/meter
    value=system.exp.value
    max=system.exp.max
  }}
</form>