<form class="{{cssClass}} feRPG__document" autocomplete="off">
    {{> (feRPG_template 'feRPG:sheets/unit/header') }}
    <section class="feRPG-content feRPG-column">
        <p>(Navbar)</p>
        <p>(content)</p>
    </section>
</form>