<form class="{{cssClass}} feRPG-document" autocomplete="off">
  {{>feRPG:sheets/unit/header}}
  {{>feRPG:sheets/unit/navbar}}
  {{!-- Tabs --}}
  {{>feRPG:sheets/unit/tab/overview}}
  {{>feRPG:sheets/unit/tab/advancement}}
  {{>feRPG:sheets/unit/tab/inventory}}
  {{>feRPG:sheets/unit/tab/notes}}
</form>