<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet-body">
        <label>
            Health
            <input type="number" name="system.combat.health.value" value="{{system.combat.health.value}}">
        </label>
        <label>
            Max
            <input type="number" name="system.combat.health.max" value="{{system.combat.health.max}}">
        </label>
    </div>
</form>