{{!-- 
Required Fields:
  'itemType': localization string
  'nameField': field
  'value': string
--}}

<header class="feRPG-itemheader">
  <h1>
    {{formInput nameField value=value localize=false }}
  </h1>
  <span>{{localize itemType}}</span>
</header>