<nav class="feRPG__sheetnav" data-group="primary-tabs" role="tablist">
    <a class="feRPG__button" data-tab="description" role="tab">
        {{localize "FERPG.sheet.weapon.tab.description"}}
    </a>
    <a class="feRPG__button" data-tab="rules" role="tab">
        {{localize "FERPG.sheet.weapon.tab.rules"}}
    </a>
</nav>