<form class="{{cssClass}} feRPG__document" autocomplete="off">
    {{> "systems/fireemblem/templates/parts/_item_header.hbs"}}
    <section class="feRPG__content">
        <section style="width: 170px">
            {{> "systems/fireemblem/templates/item/weapon/_summary.hbs"}}
        </section>

        <section class="feRPG__pane" style="flex: 1">
            {{> "systems/fireemblem/templates/item/weapon/_tablist.hbs"}}
            {{> "systems/fireemblem/templates/item/weapon/_tab_description.hbs"}}
        </section>
    </section>
    {{> "systems/fireemblem/templates/item/weapon/_tab_rules.hbs"}}
</form>