<form class="{{cssClass}} feRPG-document" autocomplete="off">
    {{> "systems/fireemblem/templates/components/_item_header.hbs"}}
    <section class="feRPG-content feRPG-weapon_sheet__content">
        <section class="feRPG-weapon_sheet__sidebar">
            {{> "systems/fireemblem/templates/item/weapon/_summary.hbs"}}
        </section>

        <section class="feRPG-weapon_sheet__main feRPG-pane">
            {{> "systems/fireemblem/templates/item/weapon/_tablist.hbs"}}
            {{> "systems/fireemblem/templates/item/weapon/_tab_description.hbs"}}
        </section>
    </section>
    {{> "systems/fireemblem/templates/item/weapon/_tab_rules.hbs"}}
</form>