<form class="{{cssClass}} feRPG__document" autocomplete="off">
    {{> "systems/fireemblem/templates/actor/unit/_header.hbs"}}
    <section class="feRPG-content feRPG-column">
        <p>(Navbar)</p>
        <p>(content)</p>
    </section>
</form>