.feRPG-weapon_sheet {
    .window-content {
        /* Overrides */
        padding: 0;
    }
}

.feRPG-weapon_sheet__content {
    display: flex;
    flex-direction: row;
}
.feRPG-weapon_sheet__sidebar {
    flex: 0 170px;
}
.feRPG-weapon_sheet__main {
    flex: 1;
}