.feRPG-button {
    --_button_bg_color: var(--feRPG-color-nav_button-inner);
    --_button_main: var(--feRPG-color-nav_button-outer);

    border: 1px solid var(--_button_main);
    color: var(--_button_main);
    background: var(--_button_bg_color);
    filter: drop-shadow(black 0 0 4px);
    padding: 
        var(--feRPG-size-button_padding-v)
        var(--feRPG-size-button_padding-h) 
    ;
    border-radius: var(--feRPG-field-corner_radius);
}
.feRPG-button.active {
    --_button_bg_color: var(--feRPG-color-nav_button-inner_checked);
    --_button_main: var(--feRPG-color-nav_button-outer_checked);
}
